*  {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', serif;
    color: white;

}
 body {
    background-image: linear-gradient(rgba(1, 9, 15, 0.9), rgba(3, 19, 46, 0.8));
    padding: 30px;
 
  }

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   border: 4px rgba(13, 11, 0, 0.8) solid;
   background-color: black;
   padding: 14px 8%;
   backdrop-filter: blur(8px);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
   
  }

  .header:hover {
    background-image: linear-gradient(rgb(4, 9, 28), rgb(3, 26, 35));
    border: 8px rgba(255, 255, 255, .8);
    box-shadow: 2px 4px rgb(61, 182, 222);
    transition:  0.6s ease;
    
  }

  .icon a{
    position: fixed;
    top: 0;
    left: 0;
    font-family: fantasy;
    color: white;
    background-color: black;
    border: 3px groove rgba(235, 218, 122, 0.7);
    border-radius: 10px;
    transition: 0.6s ease-in-out;
  }

.icon:hover {
    color: rgb(236, 195, 58) ;
    
    text-shadow: 0 0 20px rgba(247, 71, 7, 0.8),
                 0 0 40px rgba(247, 71, 7, 0.8) ;
    
    
    transform: scale(1.3);
}

.navbar {
    display: inline-flex;
    justify-content: space-evenly;
}


  h2, h3{
    color: white;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 5%;
    background-image: linear-gradient(rgb(4, 9, 28), rgb(3, 26, 35));
    border: 8px rgba(255, 255, 255, .8);
    box-shadow: 2px 4px rgb(61, 182, 222);
    transition:  0.6s ease;
  }

  .welcome:hover {
    background-image: linear-gradient(rgb(13, 34, 121), rgba(116, 207, 243, 0.4));
    border: 16px rgba(255, 255, 255, .8);
    box-shadow: 4px 8px rgb(61, 182, 222);
    transition:  0.6s ease;
  }

.trolls figure{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #194083;
    border: 5px solid rgb(236, 231, 240);
    box-shadow: 1px 3px rgba(243, 201, 64, 0.522);
    margin: 10px;
    padding: 5px;
   
}

img{
    border: 5px;
    border-style: double;
    border-radius: 24px;
    height: 200px;
    width: 275px;
  }

.navbar a{
    display: flex;
    margin: 10px 20px;
    
    color: white;
    text-shadow: 0 2px 4px rgba(255, 217, 0, 0.7);
    transition:  .6s ease-in-out;
    border-bottom: rgba(248, 230, 125, 0.9) 5px ;
  }


  p{
    border: #f2f3f9 3px solid;
    border-width: 3px;
    border-style: ridge;
    border-color: black;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px solid #52baf7ee;
    color: white;
    padding: 15px;
    margin: 15px;
    box-shadow: 2px 4px rgba(251, 252, 251, 0.8);

    
  }

  h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
  }

 

  .nav_link a{
    color: white;
    background-color: #0a2149b5;
   margin-left: 100px;
    padding: 2px;
    border: 2px solid rgba(157, 151, 151, 0.55);
    text-decoration: none;
    box-shadow: 0 2px rgba(247, 233, 82, 0.885);
    border-radius: 8px;
    
  }

  a.contact{
    color: white;
  }



  a.contact:hover {
    color:  #194083;
    background-color: white;
    
    
    padding: 2px;
    border: 4px solid rgb(202, 25, 25);
    text-decoration: none;

  }

  footer.footer {
    color: white;
   
   
    height: auto;
    width: 100%;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.8);
   text-decoration: none;
    display: flex;
    justify-content: center;
    

    align-items: center;
    z-index: 100;
   
    
  }
  a.footer {
    color: white;
   
  }
  .quote {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 5px;
    background-image: linear-gradient(to right black gray);
    color: #f2f3f9;
    padding: 5px;
    margin: 10px;
  }